.preview {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: black;
    /* display: flex !important; */
    flex-direction: row;
}

.preview .perview_item {
    width: 100vw !important;
    min-height: 100% !important;
}

.perview_item_title_box {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1001;
    position: fixed;
    top: 0;
    /* height: 40px; */
}
.perview_item_title_box .perview_item_title {
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 1002;
    top: 0;
}

.preview .perview_item .perview_item_img {
    width: 100%;
    min-height: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
}

.preview .perview_item .perview_item_img img {
    width: 100%;
    z-index: 1;
}